﻿@model IEnumerable<string>

@{
    ViewData["Title"] = "Símix Sistemas";
}

<div class="text-center">
    <h1 class="display-4">Símix Sistemas</h1>

    <hr />

    <button class="btn btn-primary mb-3" id="btn-result">
        <i class="fas fa-eye"></i>
        &nbsp;Exibir resultado
    </button>

    <div id="result" class="card scroll" style="display: none;">
        <div class="card-body text-justify">
            @foreach (var numeracao in Model)
            {
                <span class="d-block">@Html.Raw(numeracao)</span>
            }
        </div>
    </div>

    <div id="informacao" class="alert alert-info">
        Clique no botão <strong>"Exibir resultado"</strong>, localizado acima, para exibir os resultados.
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
